.header, .footer {
    background-color: #624E88;
    border: 2px solid black;
    padding: 10px;
    color: #FFA823;
}
.logo {
    height: 50px;
}

.logo-ig{
    height: 50px;
}

.nav-link {
    font-weight: bold;
    color: #FFA823 !important;
}

.nav-link:hover{
    color: #FFD35A !important;
}


.footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 100px;
}

footer div .direccion-footer{
    list-style: none;
    padding: 0px;
}